atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
funcsigs==1.0.2
more-itertools==4.3.0
-e git+git@github.com:brightmd/reflex@dd5cf8058e034fc6b7384d7209eef47e56f16dc1#egg=packaging
pathlib2==2.3.3
pluggy==0.8.0
py==1.7.0
pytest==4.0.1
scandir==1.9.0
six==1.11.0
